.rainbow-text {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite;
  font-weight: bold;
}

@keyframes rainbow {
  0% {
    background-position: 0%  50%;
  }
  100% {
    background-position: 100% 50%;
  }
}